<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>413441510696-uluohs8kmcph10qji9tpjep24vg3hm3t.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.413441510696-uluohs8kmcph10qji9tpjep24vg3hm3t</string>
    <key>API_KEY</key>
    <string>AIzaSyCT3DKXc0mPtmzYvz_Zo11elJ-T5HKF9Dw</string>
    <key>GCM_SENDER_ID</key>
    <string>413441510696</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>vn.com.unit.checkinprotoday</string>
    <key>PROJECT_ID</key>
    <string>checkinprouat-62d85</string>
    <key>STORAGE_BUCKET</key>
    <string>checkinprouat-62d85.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:413441510696:ios:9aa4d139fd328263c6141d</string>
    <key>DATABASE_URL</key>
    <string>https://checkinprouat-62d85.firebaseio.com</string>
</dict>
</plist>
